.td-sidebar-nav {
    .td-page-meta {
        a {
            display: block;
            font-weight: $font-weight-light;
            padding-bottom: .25rem;
            font-weight: $font-weight-medium;
        }
    }
}
