$enable-gradients: false;
$enable-shadows: false;

//
// Color system
//

$white:           #fff;
$black:           #000;
$orange:          #ff9800;
$primary:         #007bff;
$secondary:       #f5fafd;
$btn-primary:     #03a9f4;

$font-weight-light: 200;
$font-weight-normal: 380;
$font-weight-bold: 550;

.title {
  font-size: 4rem;
}