<footer class="-bg-dark py-3 row d-print-none">
    <div class="container-fluid">
        <div class='row'>
            <div class="col my-auto">
                <a target="_blank" href='https://alliancecan.ca/en'><img class="logo" height="60" src="/images/digital-research-alliance-canada.svg" /></a>
            </div>
            <div class='col text-center my-auto'>
                &copy; 2021 The Open Modeling Foundation. 
                <p>
                This work was enabled in part by support from 
                <a target="_blank" href='https://alliancecan.ca/en'><u>the Digital Research Alliance</u></a> of Canada's 
                Research Portals and Platforms program as well as generous support from the 
                <a target="_blank" href='https://sloan.org'><u>Alfred P. Sloan Foundation</u></a>.
                </p>
            </div>
            <div class='col my-auto text-right'>
                <a target="_blank" href='https://sloan.org'><img class="logo" height="60" src="/images/alfred-p-sloan-logo.png" /></a>
            </div>
        </div>
    </div>
</footer>
