<footer class="-bg-gray row d-print-none">
    <div class="container-fluid mx-auto my-auto">
        <div class='row'>
            <div class="col-3 col-sm-4 order-sm-2">
                <a target="_blank" href='https://alliancecan.ca/en'><img class="img-fluid" src="/images/digital-research-alliance-canada.svg" /></a>
            </div>
            <div class='col-5 col-sm-5 text-center order-sm-2'>
                This work was enabled in part by generous support from the <a target="_blank" href='https://sloan.org'><u>Alfred P. Sloan Foundation</u></a>
                and <a target="_blank" href='https://alliancecan.ca/en'><u>the Digital Research Alliance of Canada</u></a>.
                <br />
                {{ with .Site.Params.copyright }}&copy; {{ now.Year }} {{ .}} {{ T "footer_all_rights_reserved" }}{{ end }}
            </div>
            <div class='col-4 col-sm-3 order-sm-3'>
                <a target="_blank" href='https://sloan.org'><img class="logo" src="/images/alfred-p-sloan-logo.png" /></a>
            </div>
        </div>
    </div>
</footer>
