<footer class="-bg-dark py-3 row d-print-none">
    <div class="container-fluid">
        <div class='row'>
            <div class="col">
                <a target="_blank" href='https://www.computecanada.ca'><img class="rounded" height="120" src="/images/compute-canada-logo.png" /></a>
            </div>
            <div class='col text-center my-auto'>
                &copy; 2021 The Open Modeling Foundation. 
                <p>
                This work was enabled in part
                by support from <a target="_blank" href='https://www.westgrid.ca'>WestGrid</a>,
                <a target="_blank" href='https://www.computecanada.ca'>Compute Canada</a> and 
                the <a target="_blank" href='https://sloan.org'>Alfred P. Sloan Foundation</a>.
                </p>
            </div>
            <div class='col my-auto text-right'>
                <a target="_blank" href='https://sloan.org'><img class="rounded" height="50" src="/images/alfred-p-sloan-logo.png" /></a>
            </div>
        </div>
    </div>
</footer>
