{{ if .File }}
    {{ $pathFormatted := replace .File.Path "\\" "/" }}
    {{ $gh_issue_template := ($.Param "github_issue_template") }}
    {{ $gh_issue_filter := ($.Param "github_issue_filter") }}
    {{ $gh_repo := ($.Param "github_repo") }}
    {{ $gh_subdir := ($.Param "github_subdir") }}
    {{ $gh_project_repo := ($.Param "github_project_repo") }}
    {{ $gh_branch := (default "develop" ($.Param "github_branch")) }}
    {{ $gh_repo := (.Param "github_repo") }}
    {{ $issue_template_page := (.Site.GetPage "/issue_templates") }}
    {{ $issue_metadata := ($issue_template_page.Resources.GetMatch $gh_issue_template)}}
    {{ $queryString := (querify "assignees" ($issue_metadata.Param "assignees") "labels" ($issue_metadata.Param "labels") "projects" ($issue_metadata.Param "projects" | default "") "template" $gh_issue_template) }}
    {{ $issueURL := (printf "%s/issues/new?%s" $gh_repo $queryString) }}
    {{ $github_discuss_category := ($.Param "github_discuss_category" | default "general") }}

    <div class="td-page-meta ml-2 pb-1 pt-2 mb-0 mt-auto">
    {{ if $gh_repo }}
        {{ $discussionURL := (printf "%s/discussions/categories/%s" $gh_repo $github_discuss_category) }}
        {{ $newDiscussionURL := (printf "%s/discussions/new?category=%s" $gh_repo $github_discuss_category) }}
        {{ $editURL := printf "%s/edit/%s/content/%s" $gh_repo $gh_branch $pathFormatted }}
        {{ if and ($gh_subdir) (.Site.Language.Lang) }}
            {{ $editURL = printf "%s/edit/%s/%s/content/%s/%s" $gh_repo $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted }}
        {{ else if .Site.Language.Lang }}
            {{ $editURL = printf "%s/edit/%s/content/%s/%s" $gh_repo $gh_branch ($.Site.Language.Lang) $pathFormatted }}
        {{ else if $gh_subdir }}
            {{ $editURL = printf "%s/edit/%s/%s/content/%s" $gh_repo $gh_branch $gh_subdir $pathFormatted }}
        {{ end -}}
        {{ $qExpr := printf "is:open %s" $gh_issue_filter }}
        {{ $viewRelatedIssuesURL := printf "%s/issues?%s" $gh_repo (querify "q" $qExpr) }}
        <a href="{{ $issueURL }}" target="_blank"><i class="fab fa-github"></i> {{ T "post_create_issue" }}</a>
        <a href="{{ $editURL }}" target="_blank"><i class="fa fa-edit"></i> {{ T "post_edit_this" }}</a>
        <a href="{{ $discussionURL }}" target="_blank"><i class="fas fa-comments"></i> {{ T "post_discuss_this" }}</a>
        <a href="{{ $viewRelatedIssuesURL }}" target="_blank"><i class="fas fa-eye"></i> View related issues</a>
        {{ if $gh_project_repo }}
            {{ $project_issueURL := printf "%s/issues/new" $gh_project_repo }}
            <a href="{{ $project_issueURL }}" target="_blank"><i class="fas fa-tasks"></i> {{ T "post_create_project_issue" }}</a>
        {{ end -}}
    {{ end -}}
    {{ with .CurrentSection.AlternativeOutputFormats.Get "print" -}}
    <a id="print" href="{{ .Permalink | safeURL }}"><i class="fa-solid fa-print fa-fw"></i> {{ T "print_entire_section" }}</a>
    {{ end -}}
    </div>

{{ end }}
