<ul class="publications-list">
{{ range site.Data.publications }}
  <li>
    {{ range $index, $author := .author }}
      {{ if $index }}, {{ end }}
      {{ $author.family }}, {{ $author.given }}
    {{ end }}
    ({{ index (index .issued "date-parts") 0 0 }}).
    
    <strong>{{ .title }}</strong>.
    
    {{ index . "container-title" }}.
    
    {{ with .volume }}Vol. {{ . }}.{{ end }}
    
    {{ with .page }} pp. {{ . }}.{{ end }}
    
    {{ with .DOI }}
      DOI:
      <a href="https://doi.org/{{ . }}">
        {{ . }}
      </a>
    {{ end }}
  </li>
{{ end }}
</ul>