+++
title = "Open Modeling Foundation"
linkTitle = "Open Modeling Foundation"
+++

{{< blocks/cover title="Welcome to the Open Modeling Foundation" image_anchor="top" height="full" color="primary">}}
<div class="mx-auto">
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
  About <i class="fas fa-info-circle ml-2"></i>
  </a>
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/governance" >}}">
    Organization & Governance <i class="fas fa-gavel ml-2"></i>
  </a>
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/conformance" >}}">
    Standards <i class="fas fa-lightbulb ml-2"></i>
  </a>
  <p class="lead mt-5 text-uppercase">Enabling next generation modeling of human and natural systems
  {{< blocks/link-down color="primary-light" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
The Open Modeling Foundation is an alliance of modeling organizations that coordinates and administers a common, community developed body of standards and best practices among diverse communities of modeling scientists.
{{% /blocks/lead %}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fa-lightbulb" title="Model Standards" %}}
Pan-community modeling science standards for accessibility, documentation, reusability, and interoperability.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-gavel" title="Organization & Governance" %}}
Contribute to the modeling science community through membership and working groups
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-project-diagram" title="How to Help" url="/contribute" %}}
How to contribute to accessibility, documentation and interoperability standards
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="white" >}}

{{% blocks/feature icon="far fa-copy" title="About"%}}
Charter of the OMF
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We do a [Pull Request](https://github.com/openmodelingfoundation/openmodelingfoundation.github.io/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-users" title="Community" %}}
The OMF community is committed to providing a welcoming, civil and constructive environment
{{% /blocks/feature %}}

{{< /blocks/section >}}
