+++
title = "The Open Modeling Foundation"
linkTitle = "Open Modeling Foundation"
+++

{{< blocks/section color="primary" >}}
  <div class="row justify-content-center mt-5 mb-3">
    <div class="col-md-10 col-lg-8 d-flex flex-column align-items-center">
      <img src="/images/logo.svg" alt="OMF Logo" class="w-50 img-fluid mb-5">
      <h3 class="font-weight-light text-center">
        The <b class="text-secondary">Open Modeling Foundation</b> is an alliance of modeling organizations that coordinates
        and administers a common, community developed body of <b>standards</b> and <b>best practices</b> among
        diverse communities of modeling scientists.
      </h3>
    </div>
  </div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
  <div class="col-12 text-center mb-5"><h2><b>Standards</b></h2></div>
  {{% blocks/standard icon="fas fa-search" title="Accessibility" url="/standards/accessibility" %}}
  Support best practices for discovery and access to model code, documentation, and metadata.
  {{% /blocks/standard %}}

  {{% blocks/standard icon="fas fa-book" title="Documentation" url="/standards/documentation" %}}
  Help others understand a model, replicate its results, reuse or extend it with a combination of narrative
  documentation protocols and visual diagrams that clearly and comprehensively describe the model, how it works, its
  assumptions and limitations, etc.
  {{% /blocks/standard %}}

  {{% blocks/standard icon="fas fa-circle-nodes" title="Interoperability" url="/standards/interoperability" %}}
  Enable models to be composed or integrated into larger scale models while maintaining scientific rigor.
  {{% /blocks/standard %}}

  {{% blocks/standard icon="fas fa-recycle" title="Reusability" url="/standards/reusability" %}}
  Facilitate reuse of high quality model code for reproducibility, replication, extension, and integration into larger
  scale models.
  {{% /blocks/standard %}}
{{< /blocks/section >}}


{{< blocks/section color="light" >}}
  {{% blocks/feature icon="fas fa-project-diagram" title="How to Participate" url="/contribute" url_text="How to contribute" %}}
      You can [contribute to OMF activities]({{< relref "contribute" >}}) as a representative of a member organization or
  as an individual in a [Working Group]({{< relref "working-groups" >}}).
  {{% /blocks/feature %}}
  
  {{% blocks/feature icon="fas fa-users" title="Community" url="/about/community" %}}
  The OMF community is committed to providing a welcoming, civil and constructive environment to improve modeling science.
  {{% /blocks/feature %}}
  
  {{% blocks/feature icon="fab fa-github" title="Latest updates" url="https://github.com/openmodelingfoundation/openmodelingfoundation.github.io" %}}
  Follow the latest in OMF developments on our [GitHub](https://github.com/openmodelingfoundation/openmodelingfoundation.github.io) repository and [GitHub discussion forums](https://github.com/openmodelingfoundation/openmodelingfoundation.github.io/discussions).
  {{% /blocks/feature %}}
{{< /blocks/section >}}
