+++
title = "The Open Modeling Foundation"
linkTitle = "Open Modeling Foundation"
+++

{{< blocks/cover image_anchor="bottom" color="primary" height="full" >}}
<h1>The Open Modeling Foundation</h1>
<h3 class="mb-3 pt-3 font-weight-light">Enabling next generation modeling of human and natural systems</h3>

<div class="mx-auto py-5">
    <a class="btn btn-lg btn-outline-light mr-3 mb-4" href="{{< relref "/about" >}}">
    About <i class="fas fa-info-circle ml-2"></i>
    </a>
    <a class="btn btn-lg btn-outline-light mr-3 mb-4" href="{{< relref "/governance" >}}">
    Organization & Governance <i class="fas fa-gavel ml-2"></i>
    </a>
    <a class="btn btn-lg btn-outline-light mb-4" href="{{< relref "/standards" >}}">
    Standards <i class="fas fa-lightbulb ml-2"></i>
    </a>
</div>

{{< blocks/link-down color="primary-light" >}}

{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
<div class="mx-auto">
    <h3 class="mt-5 font-weight-light text-left">The Open Modeling Foundation is an alliance of modeling organizations that coordinates and administers a common, community developed body of standards and best practices among diverse communities of modeling scientists.
    </h3>
</div>
{{% /blocks/lead %}}

{{< blocks/section color="secondary" >}}

{{% blocks/feature icon="fas fa-project-diagram" title="How to Participate" url="/contribute" url_text="How to contribute" %}}
You can [contribute to OMF activities](/contribute/) as a representative of a member organization or
as an individual in a [Working Group](/governance/working-groups/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-users" title="Community" url="/about/community" %}}
The OMF community is committed to providing a welcoming, civil and constructive environment to improve modeling science.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Latest updates" url="https://github.com/openmodelingfoundation/openmodelingfoundation.github.io" %}}
Follow the latest in OMF developments on our [GitHub](https://github.com/openmodelingfoundation/openmodelingfoundation.github.io) repository and [GitHub discussion forums](https://github.com/openmodelingfoundation/openmodelingfoundation.github.io/discussions).
{{% /blocks/feature %}}


{{< /blocks/section >}}
